.wrapper{
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: auto;
}
.row{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
}
.cell{
    min-height: 100px;
    background: green;
    margin: 10px;
}
.col-1{
    flex-grow: 1;
}
.col-2{
    flex-grow: 2;
    width: 220px;
}
.col-3{
    flex-grow: 3;
}
.new{
    width: 40px;
}