*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.container{
    width: 1174px;
    margin: 0 auto;
}
.container-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #2C3E50;
    line-height: 20px;
}
.container-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #A1B1BC;
    line-height: 20px;
    float: right;
    margin-top: -21px;
}
.content{
    background: #FFFFFF;
    border: 1px solid #ECF0F1;
    width: 1170px;
    height: 204;
    margin-top: 50px;
    position: relative;
    padding: 30px;
}
.box{
    background-color: #A1B1BC;
    width: 76px;
    height: 76px;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    margin-right: 30px;
    float: left;
    margin-left: 1px;
}

.content > h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2C3E50;
    margin-top: -2px;
}
.box-date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #A1B1BC;
    margin-top: 2px;
}
.content a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2C3E50;
    text-decoration: none;
    padding: 0px 10px;
    border-radius: 3px;
    float: right;
    margin-top: -48px;
}
.content a:hover {
    background: #A1B1BC;
}
.box-text{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    letter-spacing: -0.12;
    margin-left: 107px;
    margin-top: 5px;
}
.one{
    margin-top: 24px;
    height: 158px;
}
.two{
    width: 1120px;
    margin-top: 24px;
    height: 158px;
    margin-left: 52px;
    padding-left: 47px;
}
.three{
    margin-top: 21px;
    width: 1120px;
    height: 158px;
    margin-left: 52px;
    padding-left: 47px;
}
.for{
    margin-top: 20px;
    height: 158px;
}
.five{
    margin-top: 23px;
    height: 158px;
}
.footer-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #2C3E50;
    line-height: 20px;
    margin-top: 75px;
}
.inpt-one{
    width: 370px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ECF0F1;
    background: #F7F8F9;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
    margin-left: 1px;
    margin-top: 51px;
}
.inpt-two{
    width: 370px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ECF0F1;
    background: #F7F8F9;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
    margin-left: 1px;
    margin-top: 51px;
    margin-left: 25px;

}
.inpt-three{
    width: 370px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ECF0F1;
    background: #F7F8F9;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
    margin-left: 1px;
    margin-top: 51px;
    margin-left: 27px;

}
textarea{
    background: #F7F8F9;
    width: 1170px;
    height: 300px;
    border: 1px solid #ECF0F1;
    border-radius: 3px;
    margin-top: 20px;
}
.inpt-for{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    background: #2C3E50;
    width: 190px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #707070;
    margin-top: 20px;
    letter-spacing: 1.5px;
    padding-left: 5px;

}