*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.grid-container{
    width: 600px;
    height: 600px;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "col-1 col-1 col-1 col-1"
                         "col-1 col-1 col-1 col-1"
                         "col-3 col-3 col-3 col-1"
                         "col-1 col-3 col-3 col-3"
                         "col-4 col-4 col-4 col-4";
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 60px 1fr 1fr 1fr;
    grid-gap: 10px;
}
.col-1{
    background: #e1e1e1;
}
.col-2{
    display: grid;
    grid-template-areas: "col-1 col-1";
    grid-template-columns:1fr 1fr;
    grid-gap: 10px;
}
.col-3{
    background: #e1e1e1;
    grid-column: span 3;
}
.col-4{
    grid-column: span 2;
    background: #e1e1e1;
}