body{
    margin: 0 auto;
}
.base{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
}
.image{
    width: 100%;
    height: 100%;
    background-image: url("images/bilodid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: blur(1px);
}
.header-text{
    position: absolute;
    top: 12%;
    left: 7%;
}
.header-text h1{
    font-size: 100px;
    color: white;
    margin-bottom: 0px;
}
.header-text h1 span{
    background-color: white;
    color: black;
    padding-left: 50px;
}
.header-text p{
    color: white;
    font-size: 38px;
    padding-left: 50px;
    margin-top: 15px;
}
.arow-buttons{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}
.arow-buttons a{
    font-size: 60px;
    text-decoration: none;
    color: #3b0201;
    background-color: white;
}
.btn-one{
    margin-left: 70px;
    padding: 0 18px 0 12px;
}
.btn-two{
    position: absolute;
    right: 50px;
    padding: 0 12px 0 18px;
}
.footer{
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    width: 100%;
}
.footer-text{
    width: 350px;
    background-color: #e55d07;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height:115px;
    border-radius: 3px;
}
.footer-text h2{
    padding: 10px 30px;
    text-align: center;
    font-size: 90px;
    color: white;
    margin: 0px;
    padding: 0px;
}